*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
  list-style-type: none;
  text-decoration: none;
}

body{
  background-image: url(image/background-main.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

.logo{
  width: 165px;
  height: 45px;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  width: 100%;
  transition: all 0.5s;
}

.navigation ul{
  display: flex;
  align-items: center;
  gap: 80px;
}

.navigation ul li a{
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}

.navigation ul li a:hover{
  color: var(--red);
}

.menu{
  cursor: pointer;
  display: none;
}

.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--white);
  margin: 5px auto;
  transition: all 0.3s;
}

main{
  min-width: 100vh;
  min-height: 92vh;
}

.titles-home{
  display: flex;
  flex-direction: column;
  margin-left: 175px;
  /* padding: 0px 10%; */
  gap: 20px;
}

.subtitle-home{
  margin-top: 120px;
}

.paragraph{
  font-size: 16px;
  color: var(--red);
  font-weight: lighter;
}


.primary-title{
  font-size: 64px;
  font-weight: bold;
}

.cards{
  display: flex;
  gap: 105px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 145px;
  margin-bottom: 70px;
}

.card-home{
  width: 300px;
  height: 250px;
  background-color: var(--background-card);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;
  padding: 23px 25px 27px 15px;
}

.card-home:hover{
  transform: scale(1.1);
  border-color: red;
}

.icon{
  width: 45px;
  height: 45px;
}

.title-card{
  font-size: 22px;
  margin-top: 25px;
}

.line-card{
  height: 2px;
  width: 73px;
  background-color: var(--red);
  margin-top: 12px;
}

.paragraph-card{
  font-size: 13px;
  font-weight: lighter;
  margin-top: 20px;
}

.services{
  background-color: var(--background-black);
  min-height: 110vh;
  min-width: 100vh;
}

.title-services{
  display: flex;
  flex-direction: row;
  margin-left: 175px;
  gap: 17px;
  align-items: center;
}

.paragraph-services{
  margin-top: 123px;
  font-size: 32px;
  font-weight: bold;
}

.line-card-services{
  margin-top: 123px;
  width: 73px;
  height: 2px;
  background-color: var(--red);
}

.subtitle-services{
  margin-left: 175px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: lighter;
  color: var(--red);
}

.cards-section-services{
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 350px);
  margin-top: 40px;
  margin-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.cards-services{
  /* margin-left: auto;
  margin-right: auto; */
  width: 350px;
  height: 300px;
  background-color: var(--background-card);
  border-radius: 10px;
  border-bottom: 5px solid var(--red);
  padding: 30px 30px 60px 30px;
  transition: 0.4s ease;
}



.cards-services:hover{
  border-bottom: 5px solid var(--white);
  background-color: var(--red);
  transform: scale(1.1);
}

.title-card-services{
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.description-services{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.line-center{
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.line-height{
  /* margin: 50px auto 30px auto; */
  height: 85px;
  width: 2px;
  background-color: var(--red);
}

.works{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  background-color: var(--background);
}

.cards-works{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 519px);
  gap: 80px;
  margin-top: 62px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
}

.border-card{
  width: 519px;
  height: 540px;
  border: 2px solid #6F5C5C;
  border-radius: 24px;
  padding: 15px 15px 50px 15px;
  transition: 0.4s ease;
}

.border-card:hover{
  transform: scale(1.1);
  border-color: var(--red);
}

.bg-img-works{
  display: flex;
  justify-content: center;
  width: 485px;
  height: 320px;
  border-radius: 10px;
  background-color: var(--background-card);
  padding: 33px 28px 34px 28px;
}

.img-work{
  width: 431px;
  height: 253px;
}

.title-card-work{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.title-card-work span{
  font-weight: 100;
}

.type-work{
  font-size: 13px;
  font-weight: lighter;
  margin-top: 7px;
  border: 1px solid gray;
  width: fit-content;
  padding: 2px 7px;
  text-align: center;
  border-radius: 10px;
}

.line-card-work{
  margin-top: 12px;
  height: 2px;
  width: 73px;
  background-color: var(--red);
}

.description-card-works{
  font-size: 16px;
  font-weight: lighter;
  margin-top: 15px;
}

.btn-works{
  cursor: pointer;
  width: 170px;
  height: 70px;
  background-color: transparent;
  border: 2px solid var(--red);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  text-decoration: none;
  color: var(--red);
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s;
}

.btn-works:hover{
  color: var(--white);
  background-color: var(--red);
  transform: scale(0.9);
}


.view-all-works{
  margin-left: auto;
  margin-right: auto;
}

