@media (max-width: 1170px){

  .titles-home{
    text-align: center;
    margin: auto;
  }
  
  .navigation{
    padding: 18px 20px;
  }
  
  .menu{
    display: block;
    position: fixed;
    margin-left: 90%;
  }

  .menu.ativo .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }

  .menu.ativo .bar:nth-child(2){
    opacity: 0;
  }

  .menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    right: -100%;
    top: 0px;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-sidebar);
    gap: -10px;
    transition: 0.4s;
  }

  .nav-menu.ativo{
    right: 0;
  }
  
  .nav-item{
    margin: 0px 0px;
  }

  .cards{
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .card-home{
    width: 400px;
    height: 350px;
  }

  .logo{
    display: inline-block;
    align-items: center;
    width: 180px;
    height: 50px;
  }

  .icon{
    width: 60px;
    height: 60px;
  }

  .title-card{
    font-size: 30px;
    text-align: center;
  }

  .line-card{
    margin: 20px auto;
    width: 110px;
  }

  .paragraph-card{
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  }

  .primary-title{
    font-size: 45px;
  }

  .paragraph{
    text-align: center;
  }

  .title-services{
    flex-direction: column-reverse;
    margin: auto;
  }

  .paragraph-services{
    text-align: center;
    margin: 123px auto 10px;
    font-size: 50px;
  }

  .line-card-services{
    margin: 0px auto 10px auto;
    width: 100px;
  }

  .subtitle-services{
    font-size: 17px;
    text-align: center;
    margin-left: 0;
  }

  .cards-section-services{
    display: flex;
    justify-content: center;
  }
  .cards-services{
    margin: 0;
  }

  .title-card-services{
    text-align: center;
  }

  .description-services{
    text-align: center;
  }

  .cards-works{
    grid-template-columns: repeat(
      auto-fill, 519px
    );
  }

  .title-card-work{
    text-align: center;
  }

  .type-work{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .description-card-works{
    text-align: center;
  }

  .line-card-work{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

@media (max-width: 575px){
  .menu{
    position: fixed;
    margin-left: 87%;
  }
}

